@font-face
{
	font-family: "Viner Hand ITC";
    src: url(../fonts/VINERITC.TTF);
}
.vinerhand
{
    font-family: "Viner Hand ITC"; !important
}


@media only screen and (min-width:700px)
{
    #cellAside
    {
        display: none;
    }
    
    #pcNav
    {
        display: flex;
    }
    
    #telHeader
    {
        margin-top:6vh !important;
    }
}

@media only screen and (max-width:700px)
{
    #cellAside
    {
        display: block;
    }
    
    #pcNav
    {
        display:none;
    }    
}

.no-decoration:focus
{
    outline: none;
}

.no-decoration
{
    border:0px;
}

.fixed{
    
    position: fixed;
}

.top
{
    top:0;
}

aside
{
    left:-1em;
    top: -35vh;
    float:left;
}

aside ul
{
    height:100vh; 
    width:8em;
}

.gray
{
    background-color: #4c4c4c;
}

footer
{
    position:static;
    bottom:0vh;
    background-color: #2f2f2f;
    width:100%;
    margin-top:20px;
}

.dark-footer
{
    background-color: #2f2f2f;
    border:0px;
}

.AsideMenu
{
    background-color:#4c4c4c;
}

.text-black
{
    color:black !important;
}

.text-darkgray
{
    color:#4c4c4c !important;
}

.text-white
{
    color:white !important;
}

.active
{
    color:black !important;
}

#bg-goosebumps
{
    background-image: url("../img/cinema.jpg");
     background-repeat: no-repeat;
     background-position: center;
    background-size: cover;
    height: 100vh;
    width:100vw;
}

body
{
    overflow-x: hidden;
}