@font-face
{
	font-family: "Viner Hand ITC";
    src: url(../fonts/VINERITC.TTF);
}
.vinerhand
{
    font-family: "Viner Hand ITC"; !important
}


@media only screen and (min-width:700px)
{
    #cellAside
    {
        display: none;
    }
    
    #pcNav
    {
        display: flex;
    }
    
    #telHeader
    {
        margin-top:2.6em !important;
    }
}

@media only screen and (max-width:700px)
{
    #cellAside
    {
        display: block;
    }
    
    #pcNav
    {
        display:none;
    }    
}

.no-decoration:focus
{
    outline: none;
}

.no-decoration
{
    border:0px;
}

.no-decoration:hover
{
    text-decoration: none !important;
}

.fixed{
    
    position: fixed;
}

.top
{
    top:0;
}

aside
{
    left:-1em;
    top: -35vh;
    float:left;
}

aside ul
{
    height:100vh; 
    width:8em;
}

.gray
{
    background-color: #4c4c4c;
}

footer
{
    position:static;
    bottom:0vh;
    background-color: #2f2f2f;
    width:100%;
    margin-top:20px;
}

.dark-footer
{
    background-color: #2f2f2f;
    border:0px;
}

.AsideMenu
{
    background-color:#4c4c4c;
}

.text-black
{
    color:black !important;
}

.text-darkgray
{
    color:#4c4c4c !important;
}

.text-white
{
    color:white !important;
}

.active
{
    color:black !important;
}

body
{
    overflow-x: hidden;
}

#bg-goosebumps
{
    background-image: url("../img/cinema.jpg");
     background-repeat: no-repeat;
     background-position: center;
    background-size: cover;
    height: 100vh;
    width:100%;
    transition: transform 2.5s;
}

#benvenuto
{
    color:#2f2f2f !important; 
    width:20vw !important; 
    font-size:34px !important;
}

#benvenuto:hover
{
    background-color: #ffffff55 !important;
}

.pagina
{
    display:none;
}

#benvDiv
{
    width:100%; 
    position:relative; 
    top:50%;
}

.content-1
{
    float:left; 
    display:block; 
    width:18vw;
    margin-right:2.5vw;
}

.content-main
{
    float:left; 
    display:block; 
    width:58vw;
    margin-right:2vw;
}

.recensioni
{
    border: 1px solid black;
    height: 100%;
    margin-left:2vw;
    background-color: red;
}

.UserName
{
    font-size:21px;
}

.media
{
    border: none !important;
    border-bottom: 1px solid #cccccc !important;
}