@font-face
{
	font-family: "Viner Hand ITC";
    src: url(../fonts/VINERITC.TTF);
}
.vinerhand
{
    font-family: "Viner Hand ITC"; !important
}


.no-decoration:focus
{
    outline: none;
}

.no-decoration
{
    border:0px;
}

aside
{
    position: fixed;
    left:-1.3em; 
    float:left;
}

aside ul
{
    height:100vh; 
    width:8em;
}

.gray
{
    background-color: #4c4c4c;
}

footer
{
    position:static;
    bottom:0vh;
    background-color: darkgray;
    width:100%;
    margin-top:20px;
}